/* Réinitialisation des styles de base pour améliorer la cohérence entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 20px;
}

/* Styles de la bannière */
header {
    text-align: center;
    padding: 20px;
    background-color: rgb(17, 13, 0);
    color:#fff;
    margin-bottom: 30px;
}

Personal {
    margin-top: 30px;
}

/* Styles pour le titre */
h1 {
    font-size: 24px;
}

h2 {
    margin-top: 30px;
    font-size:20px;
    text-align:center;
}

/* Styles pour les informations personnelles */
p {
    font-size: 16px;
}

/* Styles pour la section de projets */
.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.projet img {
    max-height: 100%;
    object-fit: cover;
}

.projet h2 {
    font-size: 20px;
    margin-top: 10px;
}

.projet p {
    font-size: 14px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.projet {
    background-color: transparent;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* This container is needed to position the front and back side */
  .projet-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .projet:hover .projet-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

/* Styles pour les liens dans les pages de projet */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour le bouton */
.projet-details {
    background-color: #007BFF; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espace intérieur (padding) du bouton */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur au survol du bouton */
}

/* Style au survol du bouton */
.projet-details:hover {
    background-color: #0056b3; /* Couleur de fond légèrement différente au survol */
}
