* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 20px;
}

/* Styles de la bannière */
header {
    text-align: center;
    padding: 20px;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.projet h2 {
    font-size: 20px;
    margin-top: 10px;
}

.projet p {
    font-size: 14px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.projet {
    background-color: #12263aff;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  /* This container is needed to position the front and back side */
  .projet-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .projet:hover .projet-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #12263aff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .flip-card-front img {
    max-width: 100%;
    max-height: 70%;
    object-fit: cover; /* or 'contain' depending on your requirement */
    border-radius: 10px; /* Match the card's border radius */
}
  
  /* Style the back side */
  .flip-card-back {
    background-color: #f3a712ff;
    color: white;
    transform: rotateY(180deg);
  }

/* Styles pour les liens dans les pages de projet */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour le bouton */
.projet-details {
    background-color: #12263aff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espace intérieur (padding) du bouton */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur au survol du bouton */
}

/* Style au survol du bouton */
.projet-details:hover {
    background-color: rgb(49, 54, 52); /* Couleur de fond légèrement différente au survol */
}

/* Style for tags */
.tags {
  width :100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #06bcc1ff; /* Light translucent background */
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}