/* Réinitialisation des styles de base pour améliorer la cohérence entre les navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 20px;
}

/* Styles de la bannière */
header {
    text-align: center;
    padding: 20px;
}

header img{
    max-width: 90%;
}

/* Styles pour le titre */
h1 {
    font-size: 24px;
}

/* Styles pour les informations personnelles */
p {
    font-size: 16px;
}

/* Styles pour les sections de contenu */
.contenu {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour les titres des sections */
h2 {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}

/* Styles pour la liste dans la section "Rôle" */
.role ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Styles pour les liens vers GitHub */
.github a {
    color: #007BFF;
    text-decoration: none;
}

.github a:hover {
    text-decoration: underline;
}

/* Styles pour la galerie d'images */
.galerie {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Centrer le contenu horizontalement */
    display: flex; /* Utiliser Flexbox pour aligner les images en ligne */
    flex-wrap: wrap; /* Permettre le passage à la ligne lorsque l'espace est insuffisant */
    justify-content: center; /* Centrer les images horizontalement */
}

.image-description {
    display: flex; /* Utiliser Flexbox pour aligner l'image et la description */
    flex-direction: column; /* Placer la description en dessous de l'image */
    align-items: center; /* Centrer le contenu verticalement */
    margin: 10px;
    width: 300px;
}

.image {
    width: 200px; /* Largeur fixe pour toutes les images */
}

.image img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.description {
    margin-top: 10px;
    text-align: left;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Aligner les boutons en ligne */
    margin: 0 10px; /* Ajouter une marge horizontale entre les boutons */
}
.pdf-link {
    text-align: center;
    margin-top: 20px;
}

.pdf-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pdf-link a:hover {
    background-color: #0056b3;
}
/* Styles pour les boutons de fichiers PDF */
.pdf-link a.pdf-button::after {
    content: "\f1c1"; /* Utilisation de l'icône du bouton PDF (icône Adobe Acrobat) */
    font-family: FontAwesome;
    margin-left: 10px;
}
